<div class="topbar">
  <h1>Where in the world?</h1>
  <button mat-button>
    <img class="icon" src="../assets/icon-moon.svg" alt="Moon Icon" />
    <span>Light Mode</span>
  </button>
</div>

<main>
  <div class="input-field">
    <img class="icon" src="../assets/icon-search.svg" alt="Search Icon" />
    <input
      class="search"
      placeholder="Search for a country..."
      [(ngModel)]="searchText"
      autofocus
    />
  </div>

  <select class="filter" title="regions" [(ngModel)]="selectedRegion">
    <option *ngFor="let region of regions" [value]="region">
      {{ region }}
    </option>
  </select>

  <section>
    <ng-container *ngFor="let c of countries | searchFilter: searchText">
      <div
        class="country"
        *ngIf="
          selectedRegion === 'all' || (c.region | lowercase) === selectedRegion
        "
      >
        <div
          class="img"
          [ngStyle]="{ 'background-image': 'url(' + c.flags.svg + ')' }"
        ></div>
        <div class="description">
          <h2>{{ c.name }}</h2>
          <ul>
            <li><span>Population:</span>{{ c.population }}</li>
            <li><span>Region:</span>{{ c.region }}</li>
            <li><span>Capital:</span>{{ c.capital }}</li>
          </ul>
        </div>
      </div>
    </ng-container>
  </section>
</main>
