@use "utils" as u;

:host {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  grid-template-areas:
    "top"
    "main";
}

.topbar {
  grid-area: top;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
  background-color: var(--color-elements);

  h1 {
    font-size: 1.4rem;
  }

  button {
    width: fit-content;
    height: fit-content;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
      background-color: var(--color-background);
    }
  }
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  padding: 2.4rem 1.6rem;
  overflow-y: auto;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "search" "filter" "list";
  gap: 4rem;

  .input-field:first-child {
    grid-area: search;
  }

  .filter {
    grid-area: filter;
    min-width: 20rem;
  }

  section:first-of-type {
    grid-area: list;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

.country {
  width: 26rem;
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: var(--color-elements);

  .img {
    width: 100%;
    height: 16rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .description {
    padding: 2.4rem;

    h2 {
      margin-bottom: 2.4rem;
    }

    ul {
      list-style: none;
      line-height: 2.4rem;

      span {
        font-weight: 600;
        margin-right: 0.4rem;
      }
    }
  }
}

@include u.breakpoint(desktop) {
  main {
    padding: 4em 8rem;
    grid-template-rows: max-content 1fr;
    grid-template-columns: repeat(2fr);
    grid-template-areas: "search filter" "list list";
    gap: 7.5rem;

    .input-field:first-child {
      max-width: 60rem;
    }

    section:first-of-type {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8rem;
    }
  }
}
