@use "utils" as u;

:host {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  grid-template-areas:
    "top"
    "main";
}

app-topbar {
  grid-area: top;
}

main {
  grid-area: main;
  width: 100%;
  padding: 2.4rem 1.6rem 6rem 1.6rem;
  overflow: auto;
  scroll-behavior: smooth;
}

button.scroll-top {
  position: absolute;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  right: 1rem;
  transform: translateX(-50%);
  font-size: 2.4rem;
}

@include u.breakpoint(desktop) {
  main {
    padding: 4rem 8rem;
  }
}
