<div class="topbar">
  <h1>Where in the world?</h1>
  <button mat-button>
    <span>Light Mode</span>
  </button>
</div>

<main>
  <input
    placeholder="Search for a country"
    [(ngModel)]="searchText"
    autofocus
  />

  <select [(ngModel)]="selectedRegion">
    <option *ngFor="let region of regions" [value]="region">
      {{ region }}
    </option>
  </select>

  <section>
    <ng-container *ngFor="let c of countries | searchFilter: searchText">
      <div
        class="country"
        *ngIf="
          selectedRegion === 'all' || (c.region | lowercase) === selectedRegion
        "
      >
        <img mat-card-image [src]="c.flags.svg" alt="Flag of {{ c.name }}" />
        <h2>{{ c.name }}</h2>
        <ul>
          <li>Population: {{ c.population }}</li>
          <li>Region: {{ c.region }}</li>
          <li>Capital: {{ c.capital }}</li>
        </ul>
      </div>
    </ng-container>
  </section>
</main>
