@use "utils" as u;

button.back {
  padding: 1rem 2.4rem;
  margin-bottom: 4rem;
}

.country {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  font-size: 1.6rem;

  .img {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem;
    border-radius: 0.2rem;
  }

  .description {
    h2 {
      margin: 4rem 0 2.4rem 0;
    }

    ul {
      list-style: none;
      line-height: 3.2rem;
      margin-bottom: 4rem;

      li span {
        &:after {
          content: ", ";
        }

        &:first-of-type {
          font-weight: 600;
          margin-right: 0.4rem;

          &:after {
            content: none;
          }
        }

        &:last-of-type:after {
          content: none;
        }
      }
    }
  }

  .borders {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;

    h3 {
      flex-basis: 100%;
    }
  }
}

@include u.breakpoint(desktop) {
  .country {
    display: grid;
    grid-template-columns: 63rem 1fr;
    grid-template-rows: 1fr min-content;
    column-gap: 14rem;
    max-width: none;

    .img {
      min-height: 40rem;
      grid-column: 1;
      grid-row: 1/3;
      margin: 0;
    }

    .description {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10rem;

      h2 {
        flex-basis: 100%;
      }

      ul {
        grid-row: 2;
      }
    }

    .borders {
      grid-column: 2;
      grid-row: 2;
      align-items: center;

      h3 {
        flex-basis: auto;

        &::after {
          content: ":";
        }
      }
    }
  }
}
