<div class="selected" (click)="toggleDropdown()">
  <span>{{ selectedOption || placeholder }}</span>
  <img
    *ngIf="!isDropdownActive"
    class="icon"
    src="assets/icon-chevron-down.svg"
    alt="Select Icon"
  />
  <img
    *ngIf="isDropdownActive"
    class="icon"
    src="assets/icon-chevron-up.svg"
    alt="Select Active Icon"
  />
</div>

<div class="dropdown" *ngIf="isDropdownActive">
  <option value="" (click)="select($event)">All</option>
  <option
    class="option"
    *ngFor="let option of options"
    [value]="option"
    (click)="select($event)"
  >
    {{ option }}
  </option>
</div>
