@use "utils" as u;

:host {
  grid-area: top;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-elements);
  box-shadow: u.$shadow;
}

h1 {
  font-size: 1.4rem;
}

button {
  width: fit-content;
  height: fit-content;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;

  &:hover {
    background-color: var(--color-background);
  }
}

@include u.breakpoint(desktop) {
  :host {
    padding: 1.6rem 8rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  button {
    font-size: 1.4rem;
  }
}
