$breakpoint-mobile: 375px; //mb
$breakpoint-desktop: 1440px; //lg

@mixin breakpoint($breakpoint) {
  @if $breakpoint==mb {
    @media only screen and (max-width: $breakpoint-mobile) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}

@mixin formElements {
  height: 4.8rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  color: inherit;
  background-color: var(--color-elements);
  padding: 1rem;
}

@mixin fontDefault {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}
