$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;
$breakpoint-ultra: 1920px;
$shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);

@mixin breakpoint($breakpoint) {
  @if $breakpoint==mobile {
    @media only screen and (max-width: $breakpoint-mobile) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  }

  @if $breakpoint==ultra {
    @media only screen and (min-width: $breakpoint-ultra) {
      @content;
    }
  }
}

@mixin fontDefault {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

@mixin formElements {
  height: 5.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  color: inherit;
  background-color: var(--color-elements);
  padding: 1rem;
  @include fontDefault;
}
