@use "themes";
@use "utils" as u;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; /* 10px => better to calculate rems */
}

body {
  box-sizing: border-box;
  margin: 0;
  min-width: u.$breakpoint-mobile;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}

h1,
h2 {
  font-weight: 800;
}

h3 {
  font-weight: 600;
}

// TODO: Create custom icon component. Use svg instead img.
.icon {
  width: 1.6rem;
  height: 1.6rem;
}

input {
  @include u.formElements;
}

button {
  @include u.formElements;
  box-shadow: u.$shadow;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-elements);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: var(--color-background);
  }
}

.input-field {
  @include u.formElements;
  box-shadow: u.$shadow;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1rem 3rem;

  input {
    width: 100%;
    color: var(--color-input);

    &::placeholder {
      color: var(--color-input);
      font-size: 1.2rem;
    }
  }
}

*[routerLink] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-elements);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0, 80%);
  border-radius: 0.4rem;
}
